* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}
#canvas {
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.07);
}
.footer-link {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: white;
}
#test {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;

  color: White;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62px;
}
#test p {
  font-size: 36px;
  color: gray;
}
